@media only screen and (max-width: 767px) {
  .quizes {
    width: 100%;
    border-radius: 0;
    background: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 7rem 1rem;
    box-shadow: 0 1rem 2rem -0.7rem rgb(0 0 0 / 40%);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    position: relative;
  }
  .quizes h1 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }

  .quiz-spy {
    display: block;
  }
  .quizes li span {
    width: 100%;
  }
  .quizes li {
    padding: 3rem 2rem;
    margin-bottom: 3rem;
  }
  .result {
    width: 100%;
  }
}

/*================ 
Tablet Devices
======================= */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .quizes {
    width: 80%;
    border-radius: 2rem;
    background: #fff;
    height: 100%;
    min-height: 50rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 7rem 4rem;
    box-shadow: 0 1rem 2rem -0.7rem rgb(0 0 0 / 40%);
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    position: relative;
  }
}
