/*=======================
Custom fonts
========================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
/*=======================
Custom css
========================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.7rem;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.btn {
  padding: 1.2rem 3rem;
  border: none;
  background: #e84393;
  font-size: 1.7rem;
  color: #fff;
  font-weight: 500;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  cursor: pointer;
}
img {
  max-width: 100%;
  height: auto;
}
/*=================
Main CSS
======================*/
.main-conatiner {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f5f9;
}
.quizes {
  width: 60%;
  border-radius: 2rem;
  height: 100%;
  min-height: 40rem;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 4rem 7rem;
  box-shadow: 0 1rem 2rem -0.7rem rgb(0 0 0 / 40%);
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  position: relative;
}

.quizes h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.quizes li {
  margin-bottom: 2rem;
  width: 100%;
  display: inline-block;
  font-size: 2rem;
  background: #efefef;
  color: #000;
  padding: 2rem 4rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.option input {
  display: inline-block;
  vertical-align: middle;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.quizes label {
  cursor: pointer;
}

.next-btn {
  padding: 1.3rem 5rem;
  border-radius: 50%;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: auto;
}
.results {
  background: #e8e3fc;
  padding: 3rem 3rem;
  width: 100%;
  margin-top: 2rem;
  display: none;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
.results button {
  margin: auto;
  display: block;
  padding: 1.3rem 7rem;
  border-radius: 50%;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: transparent;
  border: 1.5px solid #e63188;
  color: #e63188;
}
.active {
  display: block;
}
.result {
  background: #6f4cf0;
  width: 23%;
  color: #fff;
  text-align: center;
  margin: auto;
  height: 9rem;
  padding-top: 1rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.quiz-spy {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 1.4rem;
  background: #ff3e8a;
  font-weight: 800;
  color: #fff;
  padding: 0.8rem 1rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
